<h1>Bonjour merci de renseigner le password</h1>

<%= form_with url: static_pages_check_password_path , method: :post do |form| %>
  <%= form.text_field :password %>
  <%= form.submit "submit" %>
<% end %>