<div class="container">
  <h1 class="text-center">Modifier la Review</h1>

  <hr>

  <div class="row flex-column text-center">
    <%= render partial: 'form', locals: { admin_review: admin_review } %>
  </div>
</div>
