<div class="container">
  <h2 class="text-center"> Ville du couchage : <%= housing.city.name %></h2>

  <div class="row justify-content-center">
    <%= render partial: 'housings/list' %>
  </div>
</div>
