<div class="gateway-container">
  <h1>ADMIN</h1>
  <h3>Mot de Passe Administrateur</h3>

  <div class="gateway-form">
    <%= render partial: 'gateways/form', locals: { is_admin: true } %>
  </div>

  <br><br>
  <%= link_to 'USER', gateways_user_path %>
</div>
