<div class="gateway-container">
  <h1>Bienvenue Visiteur</h1>
  <h3>Veuillez renseigner le Mot de Passe pour accéder au site </h3>

  <div class="gateway-form">
    <%= render partial: 'gateways/form', locals: { is_admin: false } %>
  </div>

  <%= link_to 'ADMIN', gateways_admin_path %>

</div>
