
<img src="..." class="card-img-top" alt="">
<p class="card-text"><%= city.name  %> <%= link_to 'Modifier', edit_city_path(city) %></p>
<p> Dans cette ville il y a <%= city.housings.count %> logement </p>
<p> Dans cette ville il y a <%= city.restaurants.count %> restaurants </p>
<p> Autre description </p>
