<div class="container">
  <h1 class="center-h2 mt-30"> Index des Villes </h2>

  <div class="row tex-center">
    <% cities.each do |city| %>
      <div class="col-12 col-md-4 ">
         <div class="card-body"> 
            <%= render partial: 'cities/list', locals: { city: city } %>
              <div class="col">   
                <%= link_to 'show', city_path(city), class:"btn btn-primary" %>
              </div>
         </div>
      </div>   
    <% end %>
  </div>
</div> 
 