#banner {
  background-image: url(banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 230px;
}

.space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
